div.__main-container {
  font-family: "Segoe UI", Arial, sans-serif !important;
  color: black;
}

div.__main-container .__heading {
  font-size: 16px !important;
  font-weight: bold;
  padding: 10px 12px 10px;
  border-bottom: solid 1px #e0e0e0;
  transition: top 0.3s ease;
}

span.__xs {
  font-size: x-small !important;
}

#prompt-response {
  display: none;
}

div#chr-sidebar {
  position: fixed;
  top: 7px;
  right: 28px;
  width: 325px;
  height: 98vh;
  background-color: white;
  z-index: 2147483647;
  border: 1px #eeeff1 solid;
  overflow-y: auto;
}

div.__action-btn {
  margin: 10px 0px;
}

.__action-btn button#submit-prompt {
 color: white;
 border: none;
 background-color: black;
 padding: 8px;
 border-radius: 4px;
 display: flex;
 align-items: center;
}

div.reasons {
  margin-bottom: 24px;
}

div.header {
  display: flex;
  align-items: center;
}

img#sherlock-icon {
  height: 20px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background: aliceblue;
  z-index: 100;
}