div.main-container {
  min-width: 300px;
  min-height: 480px;
}

#prompt-response {
  display: none;
}

div#chr-sidebar{
  position: fixed;
  top: 7px;
  right: 28px;
  width: 300px;
  height: 98vh;
  background-color: white;
  z-index: 2147483647;
  border: 1px solid #ccc;
}