div.wrapper {
  color: black;
}

div.wrapper .__heading {
  font-size: 14px !important;
  font-weight: bold;
  padding: 16px 12px;
  border-bottom: solid 1px #e0e0e0;
  transition: top 0.3s ease;
}

span.__xs {
  font-size: x-small !important;
}

#prompt-response {
  display: none;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

div#chr-sidebar {
  position: fixed;
  top: 7px;
  right: 28px;
  width: 325px;
  height: 98vh;
  background-color: white;
  z-index: 2147483647;
  overflow-y: auto;
  border: 1px solid #efefef;
}

div.__action-btn {
  margin: 10px 0px;
  font-family: "Raleway", sans-serif;
}

.__action-btn button#submit-prompt {
 color: white;
 border: none;
 background-color: black;
 padding: 8px;
 border-radius: 4px;
 display: flex;
 align-items: center;
}

div.reasons {
  margin-bottom: 24px;
}

div.header {
  display: flex;
  align-items: center;
}

img#sherlock-icon {
  height: 25px;
  display: block;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: rgb(239 239 239 / 50%);
  z-index: 100;
}

div.nav {
  display: flex;
  padding: 10px 12px;
}

div.nav .nav-btn {
  background-color: #efefef;
  padding: 3px 16px;
  border-radius: 23px;
  margin-right: 7px;
  font-size: 12px;
  cursor: pointer;
}

div.icon-name {
  line-height: 14px;
}

div.icon {
  margin-right: 6px;
}

div.main-container {
  padding: 10px;
}

div.nav .nav-btn.active {
  color: #efefef;
  background-color: black;
}

textarea#case-details {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f8f8f8;
  font-size: 11px;
  resize: none;
  color: black;
}

textarea#case-details:focus {
  outline: none !important;
  border: none;
  border-bottom: 1px solid black;
}